#entry {
    margin: 20px;
    padding: 1%;
    padding-bottom: 2em;
    outline: .2em;
    outline-style: solid;
    outline-color: grey;
    background-color: #eee;
}

#entryH1{
font-size: 1.5em;
margin: 2.5% 42.5%;
outline: .2em;
}

#entryH2{
margin: 2.5%;
font-size: 1em;
outline: .2em;
}

#single-entry-page-entry {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding: 1%;
    outline-style: solid;
    outline-color: darkgray;
    background-color: white;
}

#update-button{
     margin: 44%;
     outline: .em;
     outline-style: solid;
     outline-color: black;
     outline-offset: 0.3em;
 }