<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--header fragment-->
<head th:fragment="header">
    <head>
        <meta charset="UTF-8">
    </head>
    <link href="/stylesheets/general.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">
    <link href="/stylesheets/signup.css" rel="stylesheet">
    <link href="/stylesheets/entry.css" rel="stylesheet">
    <link href="/stylesheets/updateEntry.css" rel="stylesheet">
</head>


<!--New Entry Fragment-->
<aside th:fragment="newEntry" id="newEntry">
    <form action="/home/entry" method="post">
        <input type="text" name="body" required placeholder="Write here.."/>
        <button type="submit"> Journal!</button>
    </form>
</aside>

</body>
</html>

