<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: header}">
    <meta charset="UTF-8">
    <title> Home </title>
</head>
<body>

<section id="journal">
    <h1 id="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 100 100">
            <g>
                <g transform="translate(50 50) scale(0.69 0.69) rotate(0) translate(-50 -50)" style="fill:#1A1A1A">
                    <svg fill="#1A1A1A" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px"
                         viewBox="0 0 64 88" style="enable-background:new 0 0 64 88;" xml:space="preserve"><path d="M50,8h-2h-4H9C8.448,8,8,8.448,8,9v38.5v1v15v1V75c0,0.552,0.448,1,1,1h7v2c0,1.104,0.895,2,2,2s2-0.896,2-2v-2h24h4h2  c3.314,0,6-2.686,6-6v-5.5v-1v-15v-1V14C56,10.686,53.314,8,50,8z M10,10h34v37.5H10V10z M10,48.5h34v15H10V48.5z M10,74v-9.5h34V74  H10z M54,70c0,2.206-1.794,4-4,4h-2v-9.5h6V70z M54,63.5h-6v-15h6V63.5z M48,47.5V10h2c2.206,0,4,1.794,4,4v33.5H48z"></path></svg>
                </g>
            </g>
        </svg>
        Journal
    </h1>
    <div id="entry-line" th:each="entry : ${journal}">
        <span class="entryDate" th:text="${entry.date}"></span>
        <a id="view-entry" class="a-as-button" th:href="@{/home/entry/} + ${entry.id} "> View Entry </a>
        <!--     I wonder if we wouldnt be better served by an icon for the "view entry" anchor -->
        <p class="entryBody" th:text="${entry.body}"></p>
    </div>
    <div th:each="tone : ${entry}">
        <p class="toneDisplay" th:text="${tone.tone}"></p>
    </div>
</section>


<aside th:replace="~{fragments :: newEntry}"></aside>
</body>
</html>