<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: header}">
    <meta charset="UTF-8">
    <title> Home </title>
</head>
<body>

<section id="journal">
    <h3 id="title"> Journal </h3>
    <div th:each="entry : ${journal}">
        <span class="entryDate" th:text="${entry.date}"></span>
        <a class="entryLink" th:href="@{/home/entry/} + ${entry.id} "> View Entry </a>
        <!--     I wonder if we wouldnt be better served by an icon for the "view entry" anchor -->
        <p class="entryBody" th:text="${entry.body}"></p>
    </div>
    <div th:each="tone : ${entry}">
        <p class="toneDisplay" th:text="${tone.tone}"></p>
    </div>
</section>


<aside th:replace="~{fragments :: newEntry}"></aside>
</body>
</html>