<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: header}">
    <meta charset="UTF-8">
    <title> Login </title>
</head>
<body>

<section id="login">
    <h3 id="loginIntro"> Login to Journal </h3>
    <div>
<form action="/perform_login" method="post">
    <input type="text" name="username" required placeholder="Username"/>
    <input type="password" name="password" required placeholder="Password"/>
    <button type="submit"> Login </button>
    <label> Don't have an account? <a href="/signup"> Join us! </a></label>
</form>
    </div>
</section>

</body>
</html>