<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: header}">
    <title> View Page </title>
</head>
<body>
<h1 id="entryH1"> entry page</h1>
<section id="entry">
    <h2 id="entryH2" th:text="${entry.date}"></h2>
    <p id="single-entry-page-entry" th:text="${entry.body}"></p>
    <form action="/entry/{id}/update" method="get">
    </form>
    <a id="update-button" th:href="${entry.id} + @{/update}"> Update anchor </a>
</section>

</body>
</html>